*{
	padding:0;
	margin:0;	
}
body{
	background:url(../pic-home/Untitled-1.jpg) repeat;
}
div{ border:1px dotted #666; }
div.content{
	width:960px;
	height:1970px;
	background:url(../pic-home/home.jpg)-478px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	color:#0ddfc9;		
}
a{
	color:#0ddfc9;
	text-decoration:none;	
}
div.header{
	width:auto;
	height:189px;
}

div.header a img{
	margin-top:31px;
	margin-left:11px;
}
div.header-left{
	width:318px;
	height:186px;
	float:left;
}
div.div-menu{
	float:right;
	width:595px;
	height:186px;
}
ul{
	margin-top:80px;
	list-style:none;
}
ul li
{
	display:inline;
	padding-left:10px;
	padding-right:10px;
	float:left;
}
ul li a{
	text-decoration:none;
}
ul li:hover{
	background:url(../pic-home/523.jpg);
}
ul li a:hover{
	color:#FFF;
}
div.slider-big{
	width:100%;
	height:490px;
	position:absolute;
	top:191px;
	background:url(../pic-home/523.jpg) repeat;
	z-index:-1;
}
div.slider{
	width:auto;
	height:530px;
}
div.mainpanel{
	width:auto;
	height:1052px;
}
div.div1{
	width:auto;
	height:251px;
}
div.div2{
	height:256px;
	padding:40px;
	width:auto;
}
div.left2{
	float:left;
	width:639px;
	height:114px;
	position:absolute;
	padding: 43px 0px;
	font:tooltip ;
	font-size:13px;
}
div.left2 div{
	width:29px;
	height:29px;
	float:left;
	margin:40px;
	margin-top:50px;
	border:2px solid #006;
	position:;
}
div.left2 div.le{
	width:107px;
	height:102px;
	float:left;
	margin: 43px 0px 24px;
	border:2px solid #006;
}
div.left2 div img{
	margin:3px 42px;
}
div.left2 div span{
	margin-top:10px;
	/*top:17px;
	left:5px;
	right:5px;
	position:relative;*/
}
/*div#expertise1{
	background:url(../pic-home/new.jpg) 9px 0 no-repeat transparent;
}
div#expertise1:hover{
	background:url(../pic-home/1.jpg) 7px -2px no-repeat transparent;
}
div#expertise2{
	background:url(../pic-home/new.jpg) -19px 0 no-repeat transparent;
}
div#expertise2:hover{
	background:url(../pic-home/new.jpg) -19px -29px no-repeat transparent;
}
div#expertise3{
	background:url(../pic-home/new.jpg) -48px 0 no-repeat transparent;
}
div#expertise3:hover{
	background:url(../pic-home/new.jpg) -48px -30px no-repeat transparent;
}
div#expertise4{
	background:url(../pic-home/new.jpg) -77px 0 no-repeat transparent;
	width:22px !important;
}
div#expertise4:hover{
	background:url(../pic-home/new.jpg) -77px -28px no-repeat transparent;
}
div#expertise5{
	background:url(../pic-home/new.jpg) -100px 0 no-repeat transparent;
}
div#expertise5:hover{
	background:url(../pic-home/new.jpg) -100px -31px no-repeat transparent;
}
*/
div.left2 p{
	position:relative;
	margin-top:50px;
	word-spacing:2px;
}
div.rigth2{
	margin-left:639px;
	height:200px;
}

div.rigth2 img {
	margin-top:125px;
	margin-left:10px;
	
}
div.rigth2 span{
	margin-left:145px;
}
div.div2-text{
	width:auto;
	height:60px;
	padding:10px;
	
}
div.div3{
	width:auto;
	height:461px;
	border-top:2px groove #999;
}
div.div3 div.div3-3{
	width:872px;
	height:173px;
	margin-top:56px;
	padding:40px;
	margin-bottom:51px;
}

div.div3 div.div3-3 div{
	margin-top:47px;
	float:left;
	width:196px;
	height:130px;
	margin-right:20px;
}
div.div3 div.div3-3 div a{
	position:relative;
	top:50px;
	margin-left:107px;
}
div.footer{
	width:auto;
	height:190px;
}
div.footer div.footer1{
	width:auto;
	height:45px;
}
div.footer div.footer2{
	width:auto;
	height:69px;
}
div.footer div.footer2 div{
	float:left;
	width:230px;
	height:inherit;
}
div.footer div.footer3{
	width:auto;
	height:73px;
}
div.footer-big{
	width:100%;
	background:url(../pic-home/523.jpg) repeat;
	position:absolute;
	height:192px;
	top:1778px;
	z-index:-1;
}